{{#if testResult.testingErrors}}
<h1>Test failed</h1>
{{#each testResult.testingErrors as |testingError|}}
<div class="alert alert-danger">
  <p><b>{{testingError.message}}</b></p>
  {{#if testingError.error.message}}
  <p class="text-monospace">{{testingError.error.message}}</p>
  {{/if}}
</div>
{{/each}}
{{else if bbcA11y.results}}
<h1>Test complete</h1>
<h2>{{testResult.url}}</h2>
<h3>{{bbcA11y.errorsFound}} errors found</h3>

<ul>
  {{#each bbcA11y.results as |result|}}
  <li style="color: {{#if result.errors}}red{{else}}green{{/if}};">
    {{result.standard.name}}
    {{#if result.errors}}
    <ul>
      {{#each result.errors as |error|}}
      <li>
        {{#each error as |errorName|}}
        {{#if @first}}
        {{errorName}}
        {{/if}}
        {{/each}}
        <ul>
          {{#each error as |details|}}
          {{#unless @first}}
          <li>{{details.xpath}}</li>
          {{/unless}}
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </li>
  {{/each}}
</ul>
{{else}}
<h1>Test in progress</h1>
<div class="progress test-progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%;">
    Testing {{testResult.url}}
  </div>
</div>
{{/if}}
